.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 60%;
    padding: 1rem 2rem;
    background-color: #04040548;
    backdrop-filter: blur(50px);
    box-shadow:0px 2px 11px 9px rgba(0,0,0,0.75);
    .contact-tille{
        font-size: 3rem;
        margin-bottom: 2rem;
        color: #7ed957;
    }
    .contact-text{
        font-size: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }
}

.button{
    a{
        color: #7ed957;
        text-decoration: none;
        transition: all 0.3s ease;
    } 
    &:hover a{
        color: rgb(0, 0, 0);
    }
}


@media (min-width: 1360px) and (max-width: 1502px) {
    .contact{
        width: 80%;
        height: 80%;
    }
  }
  
  @media (min-width: 1001px) and (max-width: 1359px) {
    .contact{
        width: 80%;
        height: 80%;
    }
  }
  
  @media (min-width: 0px) and (max-width: 1000px) {
    .contact{
        width: 95%;
        height: auto;
        .contact-tille{
            font-size: 2rem;
            margin-bottom: 2rem;
            color: #7ed957;
        }
        .contact-text{
            font-size: 1.5rem;
            margin-bottom: 2rem;
            text-align: center;
        }
    }

  }
  

  