@import url("https://fonts.googleapis.com/css2?family=Khand:wght@500&display=swap");

.header {
  width: 15vw;
  background-color: #040405;
  height: 100vh;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  .logo {
    padding: 2rem;
    width: 100%;
    display: flex;
    img {
      height: 2.5rem;
    }
    p {
      padding-top: 0.5rem;
      color: #7ed957;
      font-size: 1.8rem;
      font-family: "Khand", sans-serif;
    }
  }
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 7rem;

    .link {
      margin: 0.5rem;
      padding: 0 2rem;
      transition: all 0.2s ease-in-out;
      border-left: 0px solid black;
      a {
        margin-left: 0.5rem;
        color: aliceblue;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        display: flex;
        align-items: center;
      }
      p {
        margin-right: 0.5rem;
        font-size: 2rem;
        color: aliceblue;
        transition: all 0.2s ease-in-out;
      }
      &:hover,
      &:focus {
        border-left: #7ed957 5px solid;
        p,
        a {
          color: #7ed957;
        }
      }
    }
    .active {
      transition: all 0.2s ease-in-out;
      border-left: #7ed957 5px solid;
      p,
      a {
        color: #7ed957;
      }
    }
  }
  .social-icons-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    .social-icons {
      margin: 0 0.5rem;
      font-size: 2.5rem;
      color: #7ed957;
      cursor: pointer;
    }
  }
}

@media (min-width: 1503px) and (max-width: 1720px) {
  .header {
    .logo {
      padding: 2rem 1rem;
      p {
        font-size: 1.8rem;
      }
    }
  }
}

@media (min-width: 1360px) and (max-width: 1502px) {
  .header {
    .logo {
      padding: 2rem 1rem;
      p {
        padding-top: 0.3rem;
        font-size: 1.6rem;
      }
      img {
        height: 2rem;
      }
    }
    .nav {
      .link {
        padding: 0 1rem;
      }
    }
  }
}
@media (min-width: 1001px) and (max-width: 1359px) {
  .header {
    width: 20vw;
    .logo {
      padding: 2rem 0.5rem;
      p {
        padding-top: 0.3rem;
        font-size: 1.6rem;
      }
      img {
        height: 2rem;
      }
    }
    .nav {
      .link {
        padding: 0 0.5rem;
      }
    }
  }
}
@media (min-width: 0px) and (max-width: 1000px) {
  .header {
    z-index: 1;
    position: fixed;
    height: 4rem;
    width: 100vw;
    bottom: 0px;
    .logo {
      display: none;
      padding: 2rem 0.5rem;
      p {
        padding-top: 0.3rem;
        font-size: 1.6rem;
      }
      img {
        height: 2rem;
      }
    }
    .nav {
      flex-direction: row;
      padding: 0;
      align-items: center;
      height: 100%;
      .link {
        margin: 0;
        width: 25%;
        height: 100%;
        padding: 0;
        border-top: solid #040405 0px;
        display: flex;
        align-items: center;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          span {
            display: none;
          }
        }
        &:hover,
        &:focus {
          border-top: #7ed957 5px solid;
          border-left: none;
        }
      }
      .active {
        transition: all 0.2s ease-in-out;
        border-top: #7ed957 5px solid;
        border-left: none;
      }
    }
    .social-icons-container {
      display: none;
    }
  }
}

.slide-in-left{animation:slide-in-left 1s cubic-bezier(.25,.46,.45,.94) both}
@keyframes slide-in-left{0%{transform:translateX(-1000px);opacity:0}100%{transform:translateX(0);opacity:1}}
.slide-top {
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite
    alternate both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite
    alternate both;
}
.slide-top2 {
  -webkit-animation: slide-top2 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite
    alternate both;
  animation: slide-top2 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite
    alternate both;
}




@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@-webkit-keyframes slide-top2 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}
@keyframes slide-top2 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}


