@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

.container {
  background-image: url("../assets/fondo.png");
  width: 85vw;
  background-size: cover;
  > .blur{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: aliceblue;
    background-color: rgba(3, 3, 3, 0.596);
    height: 100%;
    backdrop-filter: blur(5px) grayscale(1);
    background-position: 50% 50%;
    .subcontainer-home-1 {
      font-family: "PT Sans", sans-serif;
      h1 {
        font-size: 5rem;
        span {
          color: #7ed957;
        }
      }
      h2 {
        font-size: 3.5rem;
      }
      > div {
        font-size: 4rem;
        margin-top: 2rem;
        > svg {
          margin-right: 1rem;
          cursor: pointer;
          color: #7ed957;
        }
      }
    }
    .subcontainer-home-2 {
      img {
        width: 35rem;
        border-radius: 60% 40% 67% 33%/33% 62% 38% 67%;
      }
    }
  }
}

@media (min-width: 1360px) and (max-width: 1502px) {
  .container {
    > .blur {
      .subcontainer-home-1 {
        h1 {
          font-size: 3.5rem;
          span {
            color: #7ed957;
          }
        }
        h2 {
          font-size: 3rem;
        }
        > div {
          font-size: 3rem;
          margin-top: 2rem;
        }
      }
      .subcontainer-home-2 {
        img {
          width: 30rem;
          border-radius: 60% 40% 67% 33%/33% 62% 38% 67%;
        }
      }
    }
  }
}

@media (min-width: 1001px) and (max-width: 1359px) {
  .container {
    > .blur {
      .subcontainer-home-1 {
        h1 {
          font-size: 2.5rem;
          span {
            color: #7ed957;
          }
        }
        h2 {
          font-size: 2.5rem;
        }
        > div {
          font-size: 2rem;
          margin-top: 2rem;
        }
      }
      .subcontainer-home-2 {
        img {
          width: 25rem;
          border-radius: 60% 40% 67% 33%/33% 62% 38% 67%;
        }
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 1000px) {
  .container {
    width: 100vw;
    height: 95vh;
    background-size: cover;

    > .blur {
      flex-direction: column-reverse;
      height: 100%;
      .subcontainer-home-1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h1 {
          font-size: 2rem;
          span {
            color: #7ed957;
          }
        }
        h2 {
          font-size: 1.5rem;
        }
        > div {
          font-size: 2rem;
          margin-top: 2rem;
        }
      }
      .subcontainer-home-2 {
        img {
          width: 20rem;
        } 
      }
    }
  }
}

.bounce-in-top {
  animation: bounce-in-top 1.1s both;
}

@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
