@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

.container-home {
  background-image: url("../assets/fondo.png");
  width: 100vw;
  background-size: contain;
  > div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: aliceblue;
    background-color: rgba(3, 3, 3, 0.596);
    height: 100%;
    backdrop-filter: blur(5px) grayscale(1);

    .subcontainer-home-1 {
      font-family: "PT Sans", sans-serif;
      h1 {
        font-size: 5rem;
        span {
          color: #7ed957;
        }
      }
      h2 {
        font-size: 3.5rem;
      }
      > div {
        font-size: 4rem;
        margin-top: 2rem;
        > svg {
          margin-right: 1rem;
          cursor: pointer;
          color: #7ed957;
        }
      }
    }
    .subcontainer-home-2 {
      img {
        width: 35rem;
        border-radius: 60% 40% 67% 33%/33% 62% 38% 67%;
      }
    }
  }
}

@media (min-width: 1360px) and (max-width: 1502px) {
  .container-home {
    > div {
      .subcontainer-home-1 {
        h1 {
          font-size: 3.5rem;
          span {
            color: #7ed957;
          }
        }
        h2 {
          font-size: 3rem;
        }
        > div {
          font-size: 3rem;
          margin-top: 2rem;
        }
      }
      .subcontainer-home-2 {
        img {
          width: 30rem;
          border-radius: 60% 40% 67% 33%/33% 62% 38% 67%;
        }
      }
    }

  }
}

@media (min-width: 1001px) and (max-width: 1359px) {
  .container-home {
    > div {
      .subcontainer-home-1 {
        h1 {
          font-size: 2.5rem;
          span {
            color: #7ed957;
          }
        }
        h2 {
          font-size: 2.5rem;
        }
        > div {
          font-size: 2rem;
          margin-top: 2rem;
        }
      }
      .subcontainer-home-2 {
        img {
          width: 25rem;
          border-radius: 60% 40% 67% 33%/33% 62% 38% 67%;
        }
      }
    }

  }
}

@media (min-width: 0px) and (max-width: 1000px){
  .container-home{
    height: 95vh;
    >div{
      flex-direction: column-reverse;
      height: 100%;
      .subcontainer-home-1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h1 {
          font-size: 2rem;
          span {
            color: #7ed957;
          }
        }
        h2 {
          font-size: 1.5rem;
        }
        > div {
          font-size: 2rem;
          margin-top: 2rem;
        }
      }
      .subcontainer-home-2 {
        img {
          width: 20rem;
        }
      }
    }
  }
}